$main-bg : #ffff;
$main-color: #4267b2;

$text-main-color: #000;
$text-second-color: #8d8d8d;

$btn-main-bg: $main-color;
$btn-main-color: $main-bg;

$header-height: 100px;
$header-tablet-height: 80px;
$header-mobile-height: 60px;

$header-height-shink: 80px;
$header-tablet-height-shink: 60px;
$header-mobile-height-shink: 46px;

$mobile-width: 600px;
$tablet-width: 1024px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

