.product__view {
    margin-top: $header-height;
    .product__view_image__description {
        height: 100vh;
        width: 100%;
        .product__view__images__list {
            .product__view__images__list__item img{
                width: 100%;
                cursor: pointer;
            }
        }
        .product__view__images__list__itemMain img{
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
        .product__view__description__title{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .product__view__description {
            max-height: 300px;
            overflow: hidden;
        }
        .product__view__description__more {
            max-height: 400px;
            overflow: scroll;

        }
    }
    .product__info {
        height: 100vh;
        &__title {
            font-size: 26px;
            opacity: 0.68;
        }
        &__price {
            font-size: 26px;
            color: $main-color;
        }
        &__item {
            margin: 20px 0;
            &__title {
                font-size: 16px;
                 opacity: 0.68;
                font-weight: 600;
            }
            &__list {
                margin-top: 10px;
                &__circle {
                    display: inline-block;
                    margin: 0 8px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 40px;
                    font-size: 12px;
                    text-transform: uppercase;
                    border: 1px solid $main-color;
                    cursor: pointer;
                }
                
            }
        }
        .product__info__item__quantity{
            margin-top: 20px;
            @include flex(center, flex-start);
            gap: 14px;
            &__btn *{
               font-size: 24px;
               color: $main-color;
               cursor: pointer;
               &:hover {
                   opacity: 0.6;
               }
            }
            &__input {
                border: 1px solid $main-color;
                padding: 3px 32px;
            }
        }

    }
    .product__info__submit *{
        margin: 10px;
    }

    margin-bottom: 400px;
    .bg-white {
        background-color: #ffff;
    }
    .bg-red {
        background-color: red;
    }
    .bg-orange {
        background-color: orange;
    }
    .bg-blue {
        background-color: blue;
    }
    .bg-yellow {
        background-color: yellow;
    }
    .bg-pink {
        background-color: pink;
    }
    .bg-black {
        background-color:  black;
    }

    .item__active {
        border: 2px solid red;
    }
}

// color class